<p class="text">forja works!</p>



  <!--foto do logo
  
  <img class="perfil-foto" id= "tema"  src="img/forja/Carvalho de ferro.png" width='420' height='300' alt="emblema" >
</br> 
-->

    <!-- botão parte 2
    <div class="tema"> 
    <button class="btn-fora" type="submit" id="btnCmd" onclick="cmd()">ALIMENTE A FORJA COM CARVÃO </button>      
   <br><br>
-->

<!-- onde se insere o gif
    <iframe id= "imagem1" src="img/fire.gif" width='420' height='300' frameBorder="0" allowFullScreen></iframe>
-->

<!-- botão parte 2     
    <button class="btn-fora" type="submit" id="btnRefresh" onClick="relogar()">RESET</button>
    <h4 id="valorObtido">Inventario Vazio...</h4>
-->

<!-- ponto onde se insere o resultado da forja
</br>
    </div>


    <ul>
        <li>Nauti [NT]</div></li>
        <li>Carvalho de ferro [IO]</li>
        <li>Nyngala [NY]</li>
        <li>Hailon / Zarin [HZ]</li>
        <li>Kolrain[KL]</li>
        <li>Perola lunar [PL]</li>
        <li>Ouro do Mar [NG]
        <li>Pedra Estelar [SS]</li>
    </ul>
  
    <div class="box-check"><h3>Quais metais voce pretende utulizar?</h3> 
        <input type="checkbox" name="metais" value="Nauti"/>Nauti<br/>
        <input type="checkbox" name="metais" value="Carvalho"/>Carvalho de Ferro<br/>
        <input type="checkbox" name="metais" value="Nyngala"/>Nyngala<br/>
        <input type="checkbox" name="metais" value="Zarin"/>Hailon/Zarin<br/>
        <input type="checkbox" name="metais" value="Kolrain"/> Kolrain<br/>
        <input type="checkbox" name="metais" value="Perola"/> Perola lunar<br/>
        <input type="checkbox" name="metais" value="Ouro"/>Ouro do Mar<br/>
        <input type="checkbox" name="metais" value="Estelar"/> Pedra Estelar<br/>
    </div></br>

    <form  src= data.php e= ”processa.php” method="post"  action="">
        <div class= "form"><h3>Insira os dados para a ficha</h3>     
        Força:         <input  type="number"     name="força"            required=”required”     placeholder= Digite-sua-Força>         <br/>
        Inteligência:  <input  type="number"     name="inteligencia"     required=”required”     placeholder= Digite-sua-Inteligencia>  <br/>
        Sopro:         <input  type="number"     name="sopro"            required=”required”     placeholder= Digite-seu-Sopro>         <br/>
        Resultado Dado:<input  type="number"     name="classe"           required=”required”     placeholder= Digite-o-resultado-do-dad><br/>      
        </div>
    </form>

  -->  