<mat-toolbar class="footer">
    <span>
        Desenvolvido por
        <i class="material-icons v-middle" appRed>
        <!-- acima usei o appRed que foi criado em diretivas de atributo que mexe em comortamento ou estilo,  para alterar a cor quando chamado-->
            group_work
        </i>
        <strong> 
            <a href= 'https://introducter.vercel.app' target="_blank"class="blue">Tamer</a>
            & <a href= '' target="_blank"class="green">Ulysses</a>
            & <a href= '' target="_blank"class="red">Soares</a>
        </strong>
        <!-- acima usei a classe grenn dentro do arquivo base style.css que faz a alteração da cor-->
    </span>
</mat-toolbar>
