<mat-card>
    <mat-card-title class="title">Deletar Personagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Especie" [value]="product.especie" name="especie" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Classe" [value]="product.classe" name="classe" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dinheiro" [value]="product.dinheiro" name="dinheiro" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="age" [value]="product.age" name="age" disabled>
        </mat-form-field> 
        <mat-form-field>
        <input matInput placeholder="player" [value]="product.player" name="player" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="xp" [value]="product.xp" name="xp" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="level" [value]="product.level" name="level" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="forca" [value]="product.forca" name="forca" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="agilidade" [value]="product.agilidade" name="agilidade" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="agilidade" [value]="product.agilidade" name="agilidade" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="persepcao" [value]="product.persepcao" name="persepcao" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="presisao" [value]="product.presisao" name="presisao" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="inteligencia" [value]="product.inteligencia" name="inteligencia" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="sopro" [value]="product.sopro" name="sopro" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="coragem" [value]="product.coragem" name="coragem" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="carisma" [value]="product.carisma" name="carisma" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="titulo" [value]="product.titulo" name="titulo" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="talento" [value]="product.carisma" name="talento" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="carisma" [value]="product.carisma" name="carisma" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="aptidoes" [value]="product.aptidoes" name="aptidoes" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ventura" [value]="product.carisma" name="ventura" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="vontade" [value]="product.vontade" name="vontade" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="estresse" [value]="product.estresse" name="estresse" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="medo" [value]="product.medo" name="medo" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="tendencia" [value]="product.tendencia" name="tendencia" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="status" [value]="product.status" name="status" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="dano" [value]="product.dano" name="dano" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="defesa" [value]="product.defesa" name="defesa" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valorArmadura" [value]="product.valorArmadura" name="valorArmadura" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valorArma" [value]="product.valorArma" name="valorArma" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="hitpoint" [value]="product.hitpoint" name="hitpoint" disabled>
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button (click) = deleteProduct() color="warn">Excluir</button>

<button mat-raised-button (click) = cancel()>Cancelar</button>
