<p class="text">dados works!</p>

<!--tabela dos dados-->   
 <!--
<section class ="container">

    <table>
        <tr>
            <th> 
                <div class = "lateral-A"><input type="number" id="entradaDado" size="2"placeholder="Insira quantos lados tem o dado"></div>
            </th>
            <th>
                <div class="tema"><b><button onClick="rodaDado()" >Alea Jacta Est</button></b></div>
            </th>
            <th>
                <div class = "lateral-C"><img src="img/face1.png" alt="dado" id="face">
            </th>
            <th>
                <p>
                <div class = "lateral-D" class ="tema"><h2>Retorno das Sortes:</h2><h2 id="retornoDado"></h2></div>
                </p>
            </th>
            <th>
                <p>
                <div class = "lateral-D" class ="tema"><h2>Acumulo das Sortes:<p id="guardoDado"></p></h2></div>
                </p>
            </th>     
        <tr>
        </tr>
    </table>
        
    </section>
    
    
    <div class="btn-fora"><h4><button  type="submit" id="btnRefresh" onClick= "relogar()">Aperte para Limpar</button></h4></div>
    
-->